body {
    background-color: #f5f2f9;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%237f7e81' fill-opacity='0.1'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
}
.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    opacity: 1;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.bg-modal1 {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    opacity: 1;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}


.bg-modal2 {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}


.modal-content {
    width: 500px;
    height: 700px;
    background-color: white;
    border-radius: 4px;
    padding: 30px;
    position: relative;
}

.modal-content1 {
    width: 500px;
    height: 400px;
    background-color: white;
    border-radius: 4px;
    padding: 30px;
    position: relative;
}

.modal-content2 {
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 4px;
    padding: 30px;
    position: relative;
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.close1 {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.close2 {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

body {
    background-color: rgb(232, 238, 247)
}
.main {
    background-image: url("../Images/group-thumbs-up.jpg");
    background-repeat: repeat-x;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 700px;
}



.main h1 {
    text-align: center;
    margin-top: 200px;
}

.main h2 {
    text-align: center;
    text-decoration-color: darkslategrey;
    font-family: 'Nanum Brush Script', cursive;
    font-size: 60px;

}

.main button {
    width:100px;
}

.button {
    text-align: center;
}

#profileInfo {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 600px;
    
}


#profileInfo h1 {
    text-align: center;
    font-family: 'Gayathri', sans-serif;
    color: white;

}

#profileInfo h2 {
    text-align: center;
    font-family: 'Nanum Brush Script', cursive;
    color: white;
}

#profilePicture {
    text-align: center;
    height: 250px;


}

#profilePicture img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 10px 10px 50px grey;

}

#myCommunities h6 {
    text-align: center;
    font-size: 30px;
    padding-top: 40px;

}

#upperprofile {
    box-shadow: 10px 10px 50px grey;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    background-color: cornflowerblue;


}

 #combuttons {
     padding-left: 10px;
     padding-right: 10px;
    
 }

 #combuttons button{
     border-radius: 5px;
     background-color: rgb(245, 118, 45)
}


#lowerprofile ul {
    display: flex;
    flex-direction: row wrap;
    list-style: none;

}

#comlink {
    color: white; 
    text-decoration: none;
}


#communitybody {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-left: 80px;
}

#chat {
    width: 50%;
    /* background-color: white; */
    box-shadow: 10px 10px 50px grey;

}

#chat-container {
    width: 95%;
    background-color: white;
    box-shadow: 10px 10px 50px grey;

}

#jams {
    border-style: solid;
    width: 50%;
    }

.card1 {
    background-color: white;
    box-shadow: 10px 10px 50px grey;



}

#jamcards {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;



    
    
}

#welcome {
    padding-left: 80px;
}