<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
         <!-- Navbar -->
     <div id="navbar1"> 
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Jam Session</a>
                <div id="navbarSupportedContent navbar1">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                                <a id="login_button" class="nav-link disabled" href="#">LOGOUT</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <H1>Welcome to <%= comName %> Jams!</H1>

    </div>

    
</body>
</html>