<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>JamSession Video!</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../Stylesheets/video.css" />
  </head>

  <body>
    <div class="container-fluid">
      <div class="row thin-gutters">
        <div class="col-sm-3">
          <div class="card">
            <div class="card-block">
              <h4 class="card-title">
                JamSession!
              </h4>
              <div id="local-media"></div>
              <button id="leave-room" class="btn btn-primary btn-sm">LEAVE</button>
              <button id="mute-button" class="btn btn-danger btn-sm">Mute</button>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div id="joinRoom" class="card-block" style="display:none">
            <h4>Community Room</h4>
            <h6 id="roomName"></h6>
          </div>
          <div id="remote-media"></div>
        </div>
      </div>
    </div>
    <script src="//media.twiliocdn.com/sdk/js/video/releases/2.0.0-beta13/twilio-video.min.js"></script>
    <script> 
      console.log("is this printing?")
      let jamSession = '<%= jamSession %>'
      console.log(jamSession)
      let firstName = '<%= firstName %>'
      console.log(firstName)
      </script>
    <script src="../video.js"></script>


  </body>
</html>
